.duo-chat {
  @include gl-z-index-999;

  .message-enter-active,
  .message-leave-active {
    transition: all 0.5s ease;
  }

  .message-enter,
  .message-leave-to {
    @include gl-opacity-0;
    transform: translateY(10px);
  }

  .duo-chat-loader.message-leave,
  .duo-chat-loader.message-leave-to {
    transition: none;
  }

  /* TODO: Avoid mixing duo-chat styles with other GitLab UI components not intended as utilities. Refactor and remove all `gl-drawer` instances out of this file. */
  .gl-drawer-body-scrim-on-footer {
    &::before {
      background: linear-gradient(to bottom, rgba($gray-10, 0), $gray-10);
    }
  }

  .gl-drawer-body {
    overflow-y: auto;
  }

  .gl-drawer-header,
  .gl-drawer-body > * {
    @include gl-p-5;
  }
}

.duo-chat-history {
  scroll-behavior: smooth;

  &.force-scroll-bar {
    min-height: calc(100% + 1rem);
  }

  /*
  Browsers a are pretty good at keeping the focus on an element while
  the parent element grows in size. With this we mark all child elements
  of the chat history as "non" anchors.
  https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-anchor
  */
  * {
    overflow-anchor: none;
  }

  /*
  Right at the bottom of the chat history we add a scroll-anchor element.
  This scroll-anchor element is the only "possible" anchor. The beauty of it:
  It only will be used as an anchor _if_ it is currently inside the view port.
  So if the user manually scrolls up while a chunked message is coming in,
  it won't stick to the bottom while the message still loads.
  */
  .scroll-anchor {
    overflow-anchor: auto;
    height: 1px;
    margin-top: -1px; // In order to not add 1px vertically, we add a negative margin
  }
}

.duo-chat-input {
  @include gl-display-flex;
  @include gl-flex-direction-column;
  max-height: 240px;
  overflow: hidden;

  &:focus-within {
    @include gl-focus($color: $gray-900);
  }

  .gl-form-textarea.form-control {
    flex: 1;
    resize: none;
    max-height: 240px;
    padding-right: 40px;
  }

  &::after {
    content: attr(data-value) ' ';
    @include gl-visibility-hidden;
    @include gl-white-space-pre-wrap;
    @include gl-py-4;
  }
}

.slash-commands {
  @include gl-mt-n2;

  .active-command {
    @include gl-bg-gray-50;
    @include gl-rounded-base;
  }

  .gl-dropdown-item button.dropdown-item {
    @include gl-font-sm;
    @include gl-px-3;
    @include gl-bg-none;

    &:hover {
      @include gl-bg-none;
    }
  }
}
