// This selector is used to override boostrap styles when using the component in
// GitLab

.gl-filtered-search-suggestion-list.dropdown-menu {
  @include gl-display-block;
  width: $gl-dropdown-width;
}

.gl-filtered-search-suggestion-list {
  position: absolute;
  @include gl-overflow-y-auto;
  max-height: $gl-max-dropdown-max-height;

  .gl-filtered-search-suggestion {
    @include gl-p-0;
  }
}
